@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(255, 255, 255);
    background: #ffffff;
  }
}

* {
  color: #e0e0e0;
  box-sizing: border-box;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0rem;
}

.main {
  background-color: #f16164;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-weight: bold;
  margin: 1rem;
  line-height: 0%;
  font-size: 7;
  border: 6px solid;
  background: #005700 ;
  border-radius: 10px;
  padding: 2%;
  justify-content: center;
}

.grid_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100px;
}

.botoncito {
  margin: 1rem;
  padding: .5rem;
  color: inherit;
  text-decoration: none;
  background: #004080;
  border: 2px solid;
  border-radius: 10px;
  transition: color .15s ease, border-color 0.15s ease, background-color 0.15s ease;
  max-width: 300px;
  position: fixed;
  bottom: 1%;
  right: 1%; 
}

.boton-precio {
  width: 7%;
  color: #e0e0e0;
  background-color: #004080;
  border: 2px solid;
  border-radius: 10px;
}

.tarjeta{
  color: #e0e0e0;
  margin: 1rem;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
  background: #004080;
  border: 2px solid;
  border-radius: 10px;
  transition: color .15s ease, border-color 0.15s ease, background-color 0.15s ease;
  width: 130px;
}

.back {
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  background: #004080;
  border: 2px solid;
  border-radius: 10px;
  transition: color .15s ease, border-color 0.15s ease;
  max-width: 300px;
  position: fixed;
  top: 1%; 
  left: 1%;
}

.pedido {
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 0%;
  font-size: 7;
  border: 4px solid;
  background: #008000;
  border-radius: 10px;
  padding: 2%;
  justify-content: center;
}

.totalMesa {
  font-weight: bold;
  line-height: 0%;
  font-size: 7;
  border: 4px solid;
  background: #008000;
  border-radius: 10px;
  padding: 18px;
  justify-content: center;
  position: fixed;
  bottom: 87px;
}

#buscador {
  border: 6px solid;
  border-radius: 6px;
  background-color: #ffffff;
}

.a-pedir {
  margin: 1%;
  text-align: left;
  border: 6px solid;
  border-radius: 10px;
  background-color: #008000;
}

.item {
  display: flex;
  width: 300px;
  padding: 10px;
  border-bottom: 1px solid;
}

.item-title {
  flex: 10;
  font-weight: bold;
}

.precio{
  padding-top: .4%;
  padding-right: 5%;
  font-size: 95%;
  font-weight: 500;
}

.fin {
  width: 312px;
  position: sticky;
  bottom: 1%;
  flex-direction: row;
  flex-wrap: nowrap;
}

#total_a_pagar {
  height: 37px;
  width: 150px;
  font-weight: 500;
  padding: .4%;
  border: 5px solid;
  border-radius: 10px;
  background-color: #009ce8;
  position: sticky;
  bottom: 6%;
}

.finalizar_1 {
  margin-top: 5px;
  font-weight: bold;
  margin: 1rem;
  padding: .4%;
  color: #e0e0e0;
  background: #004080;
  border: 5px solid;
  border-radius: 10px;
  transition: color .15s ease, border-color 0.15s ease;
  width: 150px;
  position: fixed;
  bottom: 25px;
}

.finalizar_2 {
  margin-top: 5px;
  height: 37px;
  font-weight: bold;
  padding: .4%;
  color: #e0e0e0;
  background: #004080;
  border: 5px solid;
  border-radius: 10px;
  transition: color .15s ease, border-color 0.15s ease;
  width: 150px;
  position: sticky;
  bottom: -1%;
}

.cantidad-item {
  margin-left: 5%;
  padding-left: 2%;
  padding-right: 2%;
  border: solid;
  border-radius: 10px;
  font-weight: 550;
  background: #004080;

}

.filtro{
  display: none;
}

.botoncito:hover,
.botoncito:focus,
.botoncito:active,
.tarjeta:hover,
.tarjeta:focus,
.tarjeta:active ,
.finalizar_1:hover,
.finalizar_1:focus,
.finalizar_1:active,
.finalizar_2:hover,
.finalizar_2:focus,
.finalizar_2:active,
.back:hover,
.back:focus,
.back:active {
  background-color: #03C4A1;
}