@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(0, 0, 0);
    background: black;
  }
}

* {
  box-sizing: border-box;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0rem;
}

.main_1 {
  background-color: #ea899a;
  min-height: 100vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_2 {
  background-color: #ea899a;
  min-height: 100vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-weight: bold;
  margin: 1rem;
  line-height: 0%;
  font-size: 7;
  border: 6px solid;
  background: #3c9184;
  border-radius: 10px;
  padding: 2%;
  justify-content: center;
}

.grid_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.grid_2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 500px;
  position: fixed;
  top: 20%;
  right: 0%;
}

.botoncito {
  margin: 1rem;
  padding: .5rem;
  color: inherit;
  text-decoration: none;
  background: rgb(215, 215, 215);
  border: 2px solid black;
  border-radius: 10px;
  transition: color .15s ease, border-color 0.15s ease, background-color 0.15s ease;
  max-width: 300px;
  position: fixed;
  bottom: 0px;
  right: 90px; 
}

.botoncito:hover,
.botoncito:focus,
.botoncito:active {
  color: #3c9184;
  border-color: #3c9184;
  background-color: #000000;
}

.boton-precio {
  width: 7%;
  color: #e0e0e0;
  background-color: black;
  border: 0px;
  border-radius: 10px;
}

.tarjeta{
  margin: 1rem;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
  background: whitesmoke;
  border: 2px solid black;
  border-radius: 10px;
  transition: color .15s ease, border-color 0.15s ease, background-color 0.15s ease;
  min-width: 150px;
  max-width: 300px;
}

.back {
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  color: black;
  text-decoration: none;
  background: rgb(45, 115, 168);
  border: 2px solid;
  border-radius: 10px;
  transition: color .15s ease, border-color 0.15s ease;
  max-width: 300px;
  position: fixed;
  top: 10px; 
  left: 10px;
}

.tarjeta:hover,
.tarjeta:focus,
.tarjeta:active {
  color: #3c9184;
  border-color: #3c9184;
  background-color: #000000;
}

.pedido {
  padding: .3%;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #e0e0e0;
  left: 150px;
}

#buscador {
  border: 6px solid;
  border-radius: 6px;
}

.a-pedir {
  margin: 1%;
  text-align: left;
  border: 6px solid;
  border-radius: 10px;
  background-color: #3c9184;
}

.item {
  display: flex;
  width: 300px;
  padding: 10px;
  border-bottom: 1px solid;
}

.item-title {
  flex: 10;
  font-weight: bold;
}

.precio{
  padding-top: .4%;
  padding-right: 5%;
  font-size: 95%;
  font-weight: 500;
}

#total_a_pagar {
  font-weight: 500;
  padding: .4%;
  border: 5px solid;
  border-radius: 10px;
  background-color: teal;
}

.cantidad-item {
  margin-left: 5%;
  padding-left: 2%;
  padding-right: 2%;
  border: solid;
  border-radius: 10px;
  font-weight: 550;
}

.filtro{
  display:none;
}